<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Books Management</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Book Management System</h1>
        <hr>
        <h2>Save a book</h2>
        <form action="#" th:action="@{/saveBook}" th:object="${book}" method="POST">
            <label>Book type</label>
             <select th:field="*{bookType}" class = "form-control mb-4 col-4" required>
                <option th:each="p : ${bookList}" th:value="${p}" th:text="${p}" />
            </select>
            <input type="text" th:field = "*{name}" placeholder="Book name" class = "form-control mb-4 col-4" required/>
            <input type="text" th:field = "*{isbnNumber}" placeholder="Book ISBN number" class = "form-control mb-4 col-4" required/>
            <label for="publishDate">Publish Date:</label>
            <input type="date" id="publishDate" name="publishDate" th:field="*{publishDate}" th:format="'dd/MM/yyyy'" required />
            <input type="text" th:field = "*{Price}" placeholder="Book price" class = "form-control mb-4 col-4" required/>
            <button type="submit" class = "btn btn-info col-2"> Save book</button>
        </form>
      </div>

</body>
</html>